.row > div {
  border: 1px solid white;
}

.header {
  min-height: 90px;
}

.footer {
  min-height: 60px;
}

.header,
.footer {
  background: #2f2f2f;
}

.sidebar {
  background: #dbdfe5;
}

.intro {
  background: #7e8aa0;
  min-height: 250px;
}

.section {
  min-height: 150px;
  background: #dbdfe5;
}

.section.bg-alt {
  background: #b4bac0;
}


/*modal styling*/

ul {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

ul li {
  list-style: none;
  margin-bottom: 25px;
}

ul li img {
  cursor: pointer;
}

.modal-body {
  padding: 5px !important;
}

.modal-content {
  border-radius: 0;
}

.modal-dialog img {
  text-align: center;
  margin: 0 auto;
}

.controls {
  width: 50px;
  display: block;
  font-size: 11px;
  padding-top: 8px;
  font-weight: bold;
}

.next {
  float: right;
  text-align: right;
}


/*override modal for demo only*/

.modal-dialog {
  max-width: 500px;
  padding-top: 90px;
}

@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 500px;
    padding-top: 90px;
  }
}

@media screen and (max-width:1500px) {
  #ads {
    display: none;
  }
}
